input {
  padding: 0px 11.25px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #dfe0e6;
  color: #1c1c1f;
}
.costum-btn {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  margin-bottom: 14px;
  margin-top: 31px;

  margin-left: auto;
  margin-right: auto;
  color: #fff;

  text-decoration: none;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}

select {
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #dfe0e6;
  color: #88898c;
  font-size: 0.9375em;
  height: 3em;
  padding: 0.625em 0.625em 0.625em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.highlight {
  color: #1db954;
  display: inline-block;
}
.highlight:hover {
  color: #1ed760;
  cursor: pointer;
}

.invalid {
  color: #bd3200;
  text-align: left;
}
